<ion-view title="Cátalogos" id="page2" style="background-color:#D0D6EB;">
  <ion-content padding="true" class="has-header">
    <ion-list id="cTalogos-list2">
      <ion-item class="item-icon-left" id="cTalogos-list-item8" ui-sref="menu.editorial()">
        <i class="icon ion-android-arrow-dropright"></i>Editorial</ion-item>
      <ion-item class="item-icon-left" id="cTalogos-list-item9" ui-sref="menu.genero()">
        <i class="icon ion-android-arrow-dropright"></i>Género</ion-item>
      <ion-item class="item-icon-left" id="cTalogos-list-item10" ui-sref="menu.libros()">
        <i class="icon ion-android-arrow-dropright"></i>Libros</ion-item>
      <ion-item class="item-icon-left" id="cTalogos-list-item11" ui-sref="menu.roles()">
        <i class="icon ion-android-arrow-dropright"></i>Roles</ion-item>
      <ion-item class="item-icon-left" id="cTalogos-list-item12" ui-sref="menu.usuarios()">
        <i class="icon ion-android-arrow-dropright"></i>Usuarios</ion-item>
    </ion-list>
  </ion-content>
</ion-view>